{% extends "_base.jinja2" %}
{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><i class="fa fa-rocket"style = "margin-right: 5px;"></i> Money Rocket</a>
    <ul class="nav navbar-nav">
        <li class="nav-item"><a class="nav-link mr-sm-2" href="{{ url_for('auth.login') }}">Log In</a>
        <li class="nav-item"><a class="nav-link mr-sm-2" href="{{ url_for('auth.register') }}">Register</a>
    </ul>
  </div>
</nav>
{% endblock %}
<li><a href="#">Page 1-1</a></li>
<li><a href="#">Page 1-2</a></li>
<li><a href="#">Page 1-3</a></li>

{% block body %}
<div class="panel panel-default main" style = "margin: 0 10px;">
    <div class="panel-body" >
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock %}
