{% extends "index/base.jinja2" %}
{% block content %} 
<div class="card border-primary mb-4 text-center hoverable" style = "margin-bottom: 15px !important; padding: 20px 0;">
     <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-left ml-3 mt-3" style = "margin-left: 50px" >
                <h4 class="mb-4" style = "font-weight: bold">Welcome to Money Rocket</h4>
                <p>Money Rocket is an investment wizard that lets you backtest portfolios, generate new portfolios, and compare your current portfolio to better ones. Don't worry if you don't know anything about finance, we're here to guide you to make money. Click below to get started by following our tutorial and making your first portfolio!</p>
                <hr class="my-4">
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('index.tutorial') }}" role="button">Click here to start with our Tutorial!</a></p>
            </div>
            <div class="col-md-5 offset-md-1 mx-3 my-3" >
                <div class="view overlay hm-white-slight">
                    <img style = "float:right; width = 200px;"src="{{url_for('static', filename='assets/money.png')}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-primary mb-4 text-center hoverable">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 offset-md-1 mx-3 my-3">
                <div class="view overlay hm-white-slight">
                    <img src="{{url_for('static', filename='assets/preview.jpg')}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 text-left ml-3 mt-3" style = "margin-top: 50px !important;">
                <a href="" class="green-text">
                    <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> Money Rocket</h6>
                </a>
                <h4 class="mb-4"><strong>Portfolio Generation Has Never Been So Easy</strong></h4>
                <p>We at Money Rocket believe in Roy Kwon. In fact, we would go so far as to say Roy Kwon is our idol. We even made this entire website to show our
                dedication to the Math, Stats, Finance program, which Roy Kwon leads. Click the link below to learn more about finance and portfolio optimization. </p>
                <p>by <a><strong>Money Rocket</strong></a>, 4/20/69</p>
                <a href="https://www.amazon.ca/Introduction-Linear-Optimization-Extensions-MATLAB%C2%AE/dp/143986263X/ref=sr_1_1?s=books&ie=UTF8&qid=1543381493&sr=1-1" class="btn btn-success">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
