{% extends "index/base.jinja2" %}
{% block content %} 
<div class="card border-primary mb-4 text-center hoverable" style = "margin-bottom: 15px !important; padding: 20px 0;">
     <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-left ml-3 mt-3" style = "margin-left: 50px" >
                <h4 class="mb-4" style = "font-weight: bold">Welcome to Money Rocket</h4>
                <p>Money Rocket is an investment wizard that lets you backtest portfolios, generate new portfolios, and compare your current portfolio to better ones. Don't worry if you don't know anything about finance, we're here to guide you to make money. Click below to get started by following our tutorial and making your first portfolio!</p>
                <hr class="my-4">
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('index.tutorial') }}" role="button">Click here to start with our Tutorial!</a></p>
            </div>
            <div class="col-md-5 offset-md-1 mx-3 my-3" >
                <div class="view overlay hm-white-slight">
                    <img style = "float:right; width = 200px;"src="{{url_for('static', filename='assets/money.png')}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card border-primary mb-4 text-center hoverable">
    <div class="card-body">
        <div class="row">
            <div class="col-md-5 offset-md-1 mx-3 my-3">
                <div class="view overlay hm-white-slight">
                    <img src="{{url_for('static', filename='assets/preview.jpg')}}" class="img-fluid" alt="Sample image for first version of blog listing">
                    <a>
                        <div class="mask"></div>
                    </a>
                </div>
            </div>

            <div class="col-md-6 text-left ml-3 mt-3" style = "margin-top: 50px !important;">
                <a href="" class="green-text">
                    <h6 class="font-bold pb-1"><i class="fa fa-desktop"></i> Money Rocket</h6>
                </a>
                <h4 class="mb-4"><strong>Portfolio Generation Has Never Been So Easy</strong></h4>
                <p>We at Money Rocket believe that Finance should be accessible and important to everyone. Even if you are a novice at Finance, you can easily learn enough to use 
                our website, and begin making profit! We recommend you have a basic understanding of the financial markets before using our site. Click below to view some basic financial tutorials before you begin using the site.</p>
                <p>by <a><strong>Money Rocket</strong></a>, December/01/2018</p>
                <a href="https://www.youtube.com/watch?v=1zHqJWZtxmU&fbclid=IwAR3C9SJaiU6nWjhrKZy2JIGSouJoJNB_AwDw4CDbhwLIaU5xFD5DZGxX84M" class="btn btn-success">Learn More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
