{% extends "_base.jinja2" %}
{% block header %}
<h2>Money Rocket</h2>
<p>A Simple Portfolio Optimizer</p>
{% endblock %}
{% block navbar %}
<nav class="main navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom: 10px;">
  <a class="navbar-brand" href="{{ url_for('index') }}"><i class="fas fa-rocket" style = "margin-right: 5px;"></i> Money Rocket</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" style = "margin-right: 5px;">
        <a class="nav-link" href="{{ url_for('index') }}">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" style = "margin-right: 5px;">
        <a class="nav-link" href="{{ url_for('index.set_portfolio') }}">Set up your portfolio</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{ url_for('index.backtesting') }}">Backtest Your Portfolio</a>
          <a class="dropdown-item" href="{{url_for('index.generate_better')}}">Generate a better Portfolio</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Generate a Portfolio with a certain return</a>
        </div>
      </li>
    </ul>
    <ul class = "navbar-nav ml-auto">
       <li class="nav-item" style = "margin-right: 5px;">
        <a href="{{ url_for('index.tutorial') }}">
            <button class="btn btn-success btn-sm" > Tutorial</button>
        </a> 
      </li>
      <li class="nav-item" style = "margin-right: 5px;">
        <a href="{{ url_for('auth.logout') }}">
            <button class="btn btn-danger btn-sm" >Log out</button>
        </a> 
      </li>
    </ul>
  </div>
</nav>
{% endblock %}
{% block body %}
    {% block content %}{% endblock %}
{% endblock %}

