{% extends "index/base.jinja2" %}
{% block content %}
{% block imports %}
{% endblock %}

<div class="card border-primary mb-4 text-center hoverable" style = "padding: 20px 0">
 
  <h1 class="display-4">Welcome to Portfolio Generation</h1>
  <p class="lead">Here, you can set a target return, number of assets, and a time horizon and we will generate you a portfolio.</p>
  <hr class="my-4">
  <p>Fill out the above fields.</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button"> Generate Target Portfolio</a>
  </p>
</div>

{% endblock %}

