{% extends "index/base.jinja2" %}
{% block content %} 
<script>
window.onload = function() {
    setTimeout(function() {
        window.location.replace('{{ url_for('index.about') }}');
    }, 2000);
}
</script>

{# loading page, rocket animation with css #}
<div class="jc-con">
  <div class="jc-stars">   
    <img src="https://img.icons8.com/color/50/000000/expensive.png">
  </div>
  <div class="jc-stars">   
    <img src="https://img.icons8.com/color/50/000000/expensive.png">
  </div>
  <div class="jc-stars">   
    <img src="https://img.icons8.com/dusk/50/000000/money-box.png">
  </div>
  <div class="jc-stars"> 
    <img src="https://img.icons8.com/color/50/000000/stack-of-money.png">  
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars"> 
    <img src="https://img.icons8.com/dusk/50/000000/coins.png">  
  </div>
  <div class="jc-stars">   
  <img src="https://img.icons8.com/color/50/000000/stack-of-money.png">
  </div>
  <div class="jc-stars">   
  <img src="https://img.icons8.com/color/50/000000/stack-of-money.png">
  </div>
  <div class="jc-stars">  
  <img src="https://img.icons8.com/color/50/000000/expensive.png">
  </div>
  <div class="jc-stars"> 
    <img src="https://img.icons8.com/dusk/50/000000/coins.png">
  </div>
  <div class="jc-rocket-container">
  <div class="jc-rocket">
    <div class="jc-rocket-head">
    </div>
    <div class="jc-rocket-window">
    </div>
    <div class="jc-booster">
    </div>
    <div class="jc-booster-flames">
    </div>
  </div>
  </div>
</div>
{% endblock %}
