{% extends "index/base.jinja2" %}
{% block content %} 
{% for message in get_flashed_messages() %}
    {% if message == "Successfully logged in!" %}
        <div class = "alert alert-success"> {{message}}</div>
    {% endif %}
{% endfor %}
<div class="jc-con">
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-stars">   
  </div>
  <div class="jc-rocket-container">
  <div class="jc-rocket">
    <div class="jc-rocket-head">
    </div>
    <div class="jc-rocket-window">
    </div>
    <div class="jc-booster">
    </div>
    <div class="jc-booster-flames">
    </div>
  </div>
  </div>
</div>
{% endblock %}
