{% extends "index/base.jinja2" %}
{% block content %}
{% block imports %}
<script src = "{{url_for('static', filename='js/set_portfolio.js')}}"></script>
{% endblock %}
<div class = 'center'>
<img style = "margin: 0 auto; width: 20%; display: inline-block; "src="{{url_for('static', filename='assets/money.png')}}">
<img style = "vertical-align: top" src ="{{url_for('static', filename='assets/info.gif')}}">
</div>
<div class="input-group mb-3" style = "margin-top: 5px">
    <input id = "myInput" class="form-control form-control-lg form-control-borderless middle" style = "background-color: white" type="search" autocomplete = "off" placeholder="Search for a stock ticker i.e. AMZN" id="myInput" onkeyup="filterFunction()">
</div>    
<div id="myDropdown" class="dropdown-content">   
</div>

<div class="card text-center">
  <div class="card-header bg-light">
  </div>
  <div class="card-body">
    <h3 class="card-title">Your Current Portfolio of Assets</h3>
    <div id = "portfolio">
    </div>
    <a href="#" onClick = "submit()" class="btn btn-success">Submit Portfolio</a>
    <a href="#" onClick = "reset()" class="btn btn-danger">Reset Portfolio</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>
{% endblock %}