{% extends "index/base.jinja2" %}
{% block content %}
{% block imports %}
<script>
var user_id = {{g.user['user_id']}};
</script>
<script src = "{{url_for('static', filename='js/set_portfolio.js')}}"></script>
{% endblock %}
<div class = 'center'>

{# allows the user to set portfolio and reset their portfolio #}
<img style = "vertical-align: top" src ="{{url_for('static', filename='assets/info.gif')}}">
</div>
{# search bar with filter function in javascript #}
<div class="input-group mb-3" style = "margin-top: 5px;">
    <input id = "myInput" class="form-control form-control-lg form-control-borderless middle" style = "background-color: white; border-radius: 0.2rem;" type="search" autocomplete = "off" placeholder="Search for a stock ticker i.e. AMZN" id="myInput" onkeyup="filterFunction()">
</div>    
<div id="myDropdown" class="dropdown-content" style="overflow: auto; max-height: 400px;">   
</div>

<div class="card text-center" style = "width: 90%; margin: 0 auto;">
  <div class="card-header bg-light">
  </div>
  <div class="card-body">
    <h3 class="card-title">Your Current Portfolio of Assets</h3>
    <div id = "portfolio" >
    </div>
    {# submitting makes a POST request #}
    <a onClick = "submit(); $(body).fadeOut(100, function() {$(body).fadeIn(300);});" class="btn btn-success">Submit Portfolio</a>
    <a onClick = "$(body).fadeOut(100, function() {$(body).fadeIn(300);}); reset()" class="btn btn-danger">Reset Portfolio</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>


{% endblock %}