{% extends "index/base.jinja2" %}
{% block content %}
{% block imports %}
<script src = "{{url_for('static', filename='js/tutorial.js')}}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index/tutorial.css') }}">
{% endblock %}

{# tutorial page for user with dropdown slider and videos #}
<div class="steps" style = "border-radius: .3rem;">
  <div class="step">
    <div class="step-header">
      <div class="header">Welcome to the Money Rocket Tutorial. </div>
      <div class="subheader">Start by constructing your Portfolio and saving it. For tips to construct a portfolio, see our finance tutorial page from the home page.</div>
    </div>
    {# video format and click down #}
    <div class="step-content one">
      <video id = "vid1" height = "420px" width = "100%" controls>
        <source src="{{ url_for('static', filename = 'assets/tut1final.mp4')}}" type="video/mp4">
      </video>
      <button class="next-btn btn-one">Next</button>
    </div>
  </div>
  <div class="step minimized">
    <div class="step-header">
      <div class="header">Portfolio Constructed and saved! </div>
      <div class="subheader">Now that our portfolio is set, we are ready to backtest our Portfolio.</div>
    </div>
    <div class="step-content two">
      <video id = "vid2" height = "420px" width = "100%" controls>
        <source src="{{ url_for('static', filename = 'assets/tutorial2.mp4')}}" type="video/mp4">
      </video>
      <button class="next-btn" id = "btn-two">Next</button>
    </div>
  </div>
  <div class="step minimized">
    <div class="step-header">
      <div class="header">Let's generate a portfolio which beats our current one.</div>
      <div class="subheader">We can choose a time range to test our set_portfolio on.</div>
    </div>
    <div class="step-content three">
      <button class="next-btn" id = "btn-three">Next</button>
    </div>
  </div>
  <div class="step minimized">
    <div class="step-header">
      <div class="header">Finally, we can try and generate a completely new portfolio.</div>
      <div class="subheader">This portfolio will have the lowest variance, and a target return on a time period .</div>
    </div>
    <div class="step-content four">
      <button class="close-btn" id = "btn-four">Close</button>
    </div>
  </div>
</div>
{% endblock %}